<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Lista de Turmas</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	</head>
	<body>

	<div th:replace="menu :: navbar">
	</div>
	
<div sec:authorize="hasRole('ROLE_USER')">
<div class="centralizarObjeto">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Codigo</th>
				<th>Nome Turma</th>
				<th>Sala de Aula</th>
				<th>Nome do Professor</th>

			<tr>
		</thead>
		<tbody>
			<tr th:each="turma : ${turmas}">
				<td><span th:text="${turma.codigo}" ></span></td>
				<td><span th:text="${turma.nome}" ></span></td>
				<td><span th:text="${turma.salaDeAula}" ></span></td>
				<td><span th:text="${turma.professor.nome}" ></span></td>
			<tr>

	</table>	
</div>
</div>
	<style>
.centralizarObjeto {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: medium;
	border: 1px solid #68d391;
}
</style>



</body>
</html>